
# Python environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Python environments
.venv/
Pytorch/.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Python environments
.venv/
Pytorch/.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
